# Virtual Environment
venv/
.env
ENV/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyc
.Python
*.so

# Environment & Secrets
.env
firebase-credentials.json

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Test
.pytest_cache/


firebase_secret.json